---
feature_text: |
  ## Korea News
  가장 빠른 실시간 뉴스를 전달하는 korea news 입니다.
feature_image: "https://picsum.photos/1300/400?image=989"
excerpt: "가장 빠른 실시간 뉴스를 전달하는 korea news 입니다."
---

<ul class="post-list">
  {% for post in site.posts limit:3 %}
    <li class="post-item">
      <a href="{{ post.url }}">
        <div class="post-box">
          <div class="thumbnail" style="background-image: url('{{ post.feature_image }}');"></div>
          <div class="post-content">
            <h3>{{ post.title }}</h3>
            <p>{{ post.feature_text }}</p>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign total_pages = site.posts.size | divided_by: 3 | plus: 1 %}
{% if total_pages > 5 %}
<div class="pagination">
  {% assign current_page = 1 %}
  <a href="/page{{ current_page }}/index.html">{{ current_page }}</a>
  {% assign last_page = 5 %}
  {% if total_pages > 5 %}
    {% assign last_page = 5 %}
  {% endif %}
  {% for page in (2..last_page) %}
    <a href="/page{{ page }}/index.html">{{ page }}</a>
  {% endfor %}
  {% if total_pages > 5 %}
    <span>&#8594;</span>
    <a href="/page{{ total_pages }}/index.html">&#10132;</a>
  {% endif %}
</div>
{% endif %}
