---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset">
    <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-9472452856961081" data-ad-slot="1398893292"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    <h1>{{ page.title }}</h1>
    {% include post-meta.html %}
    {{ content }}

    {% include nav-share.html %}

    {% include post-comments.html %}
    <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-9472452856961081" data-ad-slot="1398893292"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
